body {
    background-color: $darkest-background;
}

header {
    background-image: url("../images/gallery/slide-1.jpg");
}

hr {
    border-bottom: 3px solid #3D3D3D;
    width: 10%;
    margin: 20px 10px 20px 20px;
}
    
h3 {
    margin-left: 20px;
}

.main_button {
    display: block;
    border-radius: 25px;
    background-color: $darkest-background;
    border: 2px solid #3D3D3D;
    color: white;
    font-weight: bold;
    margin: 30px 0 30px 10px;
    padding: 15px 35px;
}

.main_section-blogArticle{
    width: 95%;
    background-color: $dark-background;
    margin: 50px auto;
    padding-bottom: 15px;

        img {
            width: 100%;
            margin-bottom: 10px;
        }

        h2 {
            padding: 25px 0 10px 10px;
        }

        p, a {
            padding-left: 10px;
        }

        i {
            color: white;
        }
        
        a {
            display: inline-block;
            color: white;
            border: 2px solid #3D3D3D;
            padding: 10px;
            border-radius: 25px;
            font-weight: bold;
            margin: 25px 0 0 10px;
        }

        hr {
            margin-left: 10px;
        }
    }

.section_p-info {
    padding : 10px 0 40px 10px;
    font-weight: bold;
}

.main_div-redButton {
    text-align: center;
}

.main_button-red {
    padding: 15px;
    border-radius: 50%;
    background-color: $darkest-background;
    border: 2px solid #3D3D3D;
    color: white;
}
.main_button-red:hover {
        background-color: red;
        border: none;
        padding: 17px;
}

.main_button-hidden {
    visibility: hidden;
}

.section_nav-margin {
    margin-left: 20px;
    padding-bottom: 50px;

    li {
        margin-bottom: 20px;
    }
}

.main_section-recentPost {

    li {
        margin-left: 20px;
        margin-bottom: 75px;
    }

    span {
        color: white;
        font-weight: bold;
    }

    ul {
        padding-top: 40px;
    }
}

.ul_hr-separator  {
    margin: 0;
    width: 10px;
    display: inline-block;
    vertical-align: center;
    border: 1px solid #3D3D3D;
    margin-left: 5px;
    margin-right: 5px;
    width: 20px;
}
    
.main_section-tags {
    margin-bottom: 40px;

    div {
        margin-left: 20px;
    }

    button {
        padding: 15px;
        border-radius: 25px;
        background-color: $darkest-background;
        border: 2px solid #3D3D3D;
        color: white;
        font-weight: bold;
        margin-bottom: 10px;
        }
}

.main_section-instagram {
    margin-bottom: 50px;
}

.section_div-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  margin: 0 20px 30px 20px;

  img {
    width: 100%;
  }
}

.main_section-archive {
    margin-bottom: 50px;
    ul {
        margin-left: 20px;
    }

    li {
        color: $global-font-color;
        margin-bottom: 20px;
    }

    hr {
        margin-bottom: 50px;
    }
}
