@media screen and (max-width: 412px) 
{ 
    main {
        article {
            img {
                max-width: 412px;
            }
        }
        .gmap_canvas {
            max-width: 412px;
        }
    }
}
@media screen 
and (min-width: 413px) 
and (max-width: 768px)
{ 
    main {
        article {
            img {
                max-width: 100%;
            }
        }
    }
}