$color-red: #f60b0e;
$darkest-background: #1b1b1b;
$dark-background: #222222;
$white-background: #fefefe;
$global-font-color: #717171;
$nav-font-color: #777;

%buttons {
    background-color: red;
    color: white;
    padding: 15px 30px 15px 30px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
    margin-top: 30px;
}

%noPadding {
    ul {
        padding-left: 0px;
    }
}

%bg-parameters {
    background-size: cover;
    background-color: $dark-background;
    background-blend-mode: overlay;
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items:flex-start;
    align-content: flex-start;
    padding-left: 33px;
    padding-bottom: 33px;
}

body {
    width: 100%;
    @extend %noPadding;
    ul {
        list-style: none;
    }
    .difficulty_level_selection {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        width: 100%;
        button {
            @extend %buttons;
            background-color: transparent;
            background-color: transparent;
            border: 1px solid #717171;
            display: flex;
            justify-content: center;
            margin-bottom: -10px;
            width: 100px;
            text-align: center;
        }
        .red-button {
            background-color: #f60b0e;
        }
    }
    .rooms__list {
        width: 100%;
        .red {
            color: #f60b0e;
        }
        .room-details {
            display: flex;
            flex-direction: row;
            .players {
                margin-right: 10px;
            }
            .time_required {
                margin-right: 10px;
            }
        }
        .Magic_Imporium {
            background-image: url("../../../../resources/images/gallery/slide-2.jpg");
            @extend %bg-parameters;
        }
        .The_Cure {
            background-image: url("../../../../resources/images/gallery/room-2.jpg");
            @extend %bg-parameters;
        }
        .Burlesque {
            background-image: url("../../../../resources/images/gallery/room-3.jpg");
            @extend %bg-parameters;
        }
        .The_Hospital {
            background-image: url("../../../../resources/images/gallery/room-5.jpg");
            @extend %bg-parameters;
        }
        .Abandoned_Factory {
            background-image: url("../../../../resources/images/gallery/gallery-1.jpg");
            @extend %bg-parameters;
        }
        .Bunker_51 {
            background-image: url("../../../../resources/images/gallery/room-7.jpg");
            @extend %bg-parameters;
        }
        .The_Mystical_Room {
            background-image: url("../../../../resources/images/gallery/gallery-8.jpg");
            @extend %bg-parameters;
        }
        .Back_To_The_Future {
            background-image: url("../../../../resources/images/gallery/room-9.jpg");
            @extend %bg-parameters;
        }
    }
    .rooms_page_selection {
        display: none;
    }
}
