@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;700&display=swap");
/* Remise à zéro des marges et des paddings de la page*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* Retrait des puces sur les listes */
ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media screen and (max-width < 412px) {
  .hamburger_div {
    display: block;
    position: relative;
    top: 50px;
    right: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  .hamburger_div a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }
  .hamburger_div a:hover {
    color: tomato;
  }
  .hamburger_div input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    right: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  .hamburger_div span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .hamburger_div span:first-child {
    transform-origin: 0% 0%;
  }
  .hamburger_div span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  .hamburger_div input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
  }
  .hamburger_div input:checked ~ ul {
    transform: none;
  }
  .hamburger-menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .hamburger-menu li {
    padding: 10px 0;
    font-size: 22px;
  }
}
h1, h2, h3 {
  font-family: Montserrat, sans-serif;
  color: white;
}

p, a, pre, button {
  font-family: "Hind", sans-serif;
  color: #717171;
}

@media screen and (max-width: 412px) {
  p, a, pre {
    font-size: 14px;
  }
}
header {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_div-navbar {
  display: flex;
  background-color: rgba(28, 29, 27, 0.3);
  align-items: center;
  justify-content: center;
}

.header_img {
  display: inline;
  width: 40%;
}

.header_nav {
  display: inline;
}
.header_nav li {
  display: inline;
}

.header_p {
  display: inline;
}

@media screen and (max-width: 412px) {
  p, a, pre {
    font-size: 14px;
  }
  .header_h1 {
    font-size: 32px;
    padding-top: 75px;
    text-align: center;
    font-weight: bold;
  }
  .header_h1 span {
    color: red;
  }
  .header_p {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    padding-bottom: 60px;
  }
  .header_p span {
    color: white;
  }
  header .fa-calendar {
    border: 2px solid #3D3D3D;
    border-radius: 90%;
    padding: 10px;
    margin-left: 100px;
  }
}
body {
  background-color: #1B1B1B;
}

header {
  background-image: url("../images/gallery/slide-1.jpg");
}

@media screen and (max-width: 412px) {
  .main_section-blogArticle {
    width: 95%;
    background-color: #222222;
    margin: 50px auto;
    padding-bottom: 35px;
  }
  .main_section-blogArticle img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .main_section-blogArticle h2 {
    font-size: 21px;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 25px;
  }
  .main_section-blogArticle p, .main_section-blogArticle a {
    padding-left: 10px;
  }
  .main_section-blogArticle i {
    color: white;
  }
  .main_section-blogArticle a {
    display: inline-block;
    color: white;
    border: 2px solid #3D3D3D;
    padding: 10px;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 10px;
  }
}
.section_p-info {
  padding-top: 10px;
  padding-bottom: 40px;
  font-weight: bold;
}
.section_p-info i {
  padding-left: 10px;
}

.little-text {
  padding-top: 10px;
}

.rooms_page_selection {
  text-align: center;
}

.blogs_button-red {
  padding: 15px;
  border-radius: 50%;
  background-color: #1B1B1B;
  border: 2px solid #3D3D3D;
  color: white;
}

.blogs_button-red:hover {
  background-color: red;
  border: none;
  padding: 17px;
}

.blogs_button-hidden {
  visibility: hidden;
}

h3 {
  font-size: 19px;
  font-weight: bold;
  margin-left: 20px;
}

hr {
  border-bottom: 3px solid #3D3D3D;
  width: 10%;
  margin: 20px 10px;
  margin-left: 20px;
}

.categories-nav {
  margin-left: 20px;
  padding-bottom: 50px;
}
.categories-nav li {
  margin-bottom: 20px;
}

.recent-post li {
  font-size: 11px;
  color: #717171;
  margin-left: 20px;
  margin-bottom: 75px;
}
.recent-post span {
  color: white;
  font-weight: bold;
}
.recent-post ul {
  padding-top: 40px;
}
.recent-post .date-title-separator {
  margin: 0;
  color: red;
  width: 10px;
  display: inline-block;
  vertical-align: center;
  border: 1px solid #3D3D3D;
  margin-left: 5px;
  margin-right: 5px;
  width: 20px;
}

.tags {
  margin-bottom: 40px;
}
.tags div {
  margin-left: 20px;
}
.tags button {
  padding: 15px;
  border-radius: 25px;
  background-color: #1B1B1B;
  border: 2px solid #3D3D3D;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.instagram {
  margin-bottom: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  margin-left: 20px;
  margin-right: 20px;
}
.grid-container img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
