@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;700&display=swap");
/* Remise à zéro des marges et des paddings de la page*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* Retrait des puces sur les listes */
ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3 {
  font-family: Montserrat, sans-serif;
  color: white;
}

p, a, pre, button, li {
  font-family: "Hind", sans-serif;
  color: #717171;
  font-size: 14px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 21px;
  font-weight: bold;
}

h3 {
  font-size: 19px;
  font-weight: bold;
}

.section_p-littleText {
  font-size: 10px;
}

@media screen and (min-width: 769px) {
  h1 {
    font-size: 120px;
  }
  h2 {
    font-size: 44px;
  }
  h3 {
    font-size: 32px;
  }
  p, a, pre, button, li {
    font-size: 16px;
  }
  .section_p-littleText {
    font-size: 11px;
  }
}
header {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_div-navbar {
  display: flex;
  background-color: rgba(28, 29, 27, 0.3);
  justify-content: space-between;
}
.header_div-navbar i {
  color: white;
}

.header_i-user {
  display: none;
}

.header_img {
  display: inline;
  width: 40%;
}

.header_nav {
  display: inline;
}
.header_nav li {
  display: inline;
}

.header_p {
  display: inline;
}

.header_h1 {
  padding-top: 75px;
  text-align: center;
  font-weight: bold;
}
.header_h1 span {
  color: red;
}

.header_p {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
  padding-bottom: 60px;
}
.header_p span {
  color: white;
}

header .fa-calendar {
  border: 2px solid #3D3D3D;
  border-radius: 90%;
  padding: 10px;
  margin-left: 100px;
}

@media screen and (min-width: 413px) {
  .header_p {
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 769px) {
  .header_img {
    width: 25%;
  }
  .header_div-navbar p {
    line-height: 60px;
    vertical-align: center;
  }
  .header_div-navbar .first-div {
    display: flex;
    flex-direction: row;
    vertical-align: center;
  }
  .header_nav li {
    font-weight: bold;
    margin-left: 15px;
    line-height: 60px;
    vertical-align: center;
  }
  .last_div {
    display: flex;
    flex-direction: row;
  }
  .header_i-calendar {
    display: none;
  }
  .header_i-user {
    display: inline;
  }
  .header_button {
    display: block;
    border-radius: 25px;
    background-color: #1B1B1B;
    border: 2px solid #3D3D3D;
    color: white;
    font-weight: bold;
    margin: 10px 0 10px 10px;
    padding: 15px 35px;
  }
}
body {
  background-color: #1B1B1B;
}

.blogs_header {
  background-image: url("../images/gallery/slide-1.jpg");
}

.section_hr {
  border-bottom: 3px solid #3D3D3D;
  width: 10%;
  margin: 20px 10px 20px 20px;
}

.section_h3 {
  margin-left: 20px;
}

.main_button {
  display: block;
  border-radius: 25px;
  background-color: #1B1B1B;
  border: 2px solid #3D3D3D;
  color: white;
  font-weight: bold;
  margin: 30px 0 30px 10px;
  padding: 15px 35px;
}

.main_section-blogArticle {
  width: 90%;
  background-color: #222222;
  margin: 50px auto;
  padding-bottom: 15px;
}
.main_section-blogArticle img {
  width: 100%;
  margin-bottom: 10px;
}
.main_section-blogArticle h2 {
  padding: 25px 0 10px 10px;
}
.main_section-blogArticle p, .main_section-blogArticle a {
  padding-left: 10px;
}
.main_section-blogArticle i {
  color: white;
}
.main_section-blogArticle a {
  display: inline-block;
  color: white;
  border: 2px solid #3D3D3D;
  padding: 10px;
  border-radius: 25px;
  font-weight: bold;
  margin: 25px 0 0 10px;
}
.main_section-blogArticle hr {
  margin-left: 10px;
}

.section_p-info {
  padding: 10px 0 40px 10px;
  font-weight: bold;
}

.main_div-redButton {
  text-align: center;
}

.main_button-red {
  padding: 15px;
  border-radius: 50%;
  background-color: #1B1B1B;
  border: 2px solid #3D3D3D;
  color: white;
  width: 50px;
}

.main_button-red:hover {
  background-color: red;
  border: none;
  padding: 17px;
}

.main_button-hidden {
  visibility: hidden;
}

.section_nav-margin {
  margin-left: 20px;
  padding-bottom: 50px;
}
.section_nav-margin li {
  margin-bottom: 20px;
}

.main_section-recentPost li {
  margin-left: 20px;
  margin-bottom: 75px;
}
.main_section-recentPost span {
  color: white;
  font-weight: bold;
}
.main_section-recentPost ul {
  padding-top: 40px;
}

.ul_hr-separator {
  margin: 0;
  width: 10px;
  display: inline-block;
  vertical-align: center;
  border: 1px solid #3D3D3D;
  margin-left: 5px;
  margin-right: 5px;
  width: 20px;
}

.main_section-tags {
  margin-bottom: 40px;
}
.main_section-tags div {
  margin-left: 20px;
}
.main_section-tags button {
  padding: 15px;
  border-radius: 25px;
  background-color: #1B1B1B;
  border: 2px solid #3D3D3D;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.main_section-instagram {
  margin-bottom: 50px;
}

.section_div-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  margin: 0 20px 30px 20px;
}
.section_div-container img {
  width: 100%;
}

.main_section-archive {
  margin-bottom: 50px;
}
.main_section-archive ul {
  margin-left: 20px;
}
.main_section-archive li {
  color: #717171;
  margin-bottom: 20px;
}
.main_section-archive hr {
  margin-bottom: 50px;
}

@media screen and (min-width: 413px) {
  main {
    display: grid;
    grid-template-columns: 60% 40%;
  }
  .div_section-categories {
    margin-top: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
