// Couleurs : 
$color-red: #F60B0E;
$darkest-background:#1B1B1B;
$dark-background:#222222;
$white-background:#fefefe;
$global-font-color:#717171 ;
$nav-font-color: #777;

$button-value: 15px;
$p-font-size-value: 10px;
$h-font-size-value: 25px;