// Montserrat 100/400/700 - Headings
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");
//font-family: 'Montserrat', sans-serif;
%Montserrat {
    font-family: "Montserrat", sans-serif;
}
// Hind 400/700 - Paragraphs
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;700&display=swap");
//font-family: 'Hind', sans-serif;
%Hind {
    font-family: "Hind", sans-serif;
}
// Rajouter le css des titres identiques, des paragraphes identiques, ...
footer {
    @extend %Hind;
}
h1, h2, h3 {
    font-family: Montserrat, sans-serif;
    color: white;
}

p, a, pre, button, li {
    font-family: 'Hind', sans-serif;
    color: $global-font-color;
}

@media screen and (max-width: 412px) {
    p, a, pre {
        font-size: 14px;
    }

    h2 {
        font-size: 21px;
        font-weight: bold;
    }

    h3 {
        font-size: 19px;
        font-weight: bold;
    }
    
    .section_p-littleText {
        font-size: 11px;
    }
}