
// Couleurs : 
$color-red: #F60B0E;
$darkest-background:#1B1B1B;
$dark-background:#222222;
$white-background:#fefefe;
$global-font-color:#717171 ;
$nav-font-color: #777;
///

.footer__general-informations {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}

@media screen and (max-width: 412px) 
{ 
    .footer__general-informations {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    }
}