%columnContentHR {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
%noPadding {
    ul {
        padding-left: 0px;
    }
}
// Couleurs : 
$color-red: #F60B0E;
$darkest-background:#1B1B1B;
$dark-background:#222222;
$white-background:#fefefe;
$global-font-color:#717171 ;
$nav-font-color: #777;
///
footer {
    background-color: $dark-background;
    color: $white-background;
    background-image: url("../../../../resources/images/gallery/slide-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:overlay;
    .footer__general-informations {
        li {
            list-style-type: none;
        }
        hr {
            border-color: $color-red;
            width: 25px;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 5%;
            align-items: flex-start;
        }
        .column1_title {
            @extend %columnContentHR;
        }
        .column2_title {
            @extend %columnContentHR;
        }
        .column2_content {
            @extend %noPadding;
        }
        .column3_title {
            @extend %columnContentHR;
        }
        .column3_content {
            @extend %noPadding;
            .Monday {
                @extend %columnContentHR;
            }
            .Tuesday {
                @extend %columnContentHR;
            }
            .Wednesday {
                @extend %columnContentHR;
            }
            .Thursday {
                @extend %columnContentHR;
            }
            .Friday {
                @extend %columnContentHR;
            }
            .Saturday {
                @extend %columnContentHR;
            }
            .Sundat {
                @extend %columnContentHR;
            }
        }
        .column4_title {
            @extend %columnContentHR;
        }
        .column4_content {
            @extend %noPadding;
        }
    }
}

@media screen and (max-width: 412px) 
{ 
    .footer__general-informations {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    }
}
@media screen and (min-width: 412px){
    .footer__general-informations {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}
}