$color-red: #F60B0E;
$darkest-background:#1B1B1B;
$dark-background:#222222;
$white-background:#fefefe;
$global-font-color:#717171 ;
$nav-font-color: #777;

$button-value: 15px;
$p-font-size-value: 15px;
$h-font-size-value: 25px;

%Hind {
    font-family: "Hind", sans-serif;
}

header {
    @extend %Hind;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    img {
        width: 40%;
    }
    #hamburger {
        display: none;
    }
    #hamitems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        text-decoration: none;
        //border-top: 0px solid $dark-background;
    }
    #hamnav label { 
        display: inline-block; 
        color: $white-background;
        //background: $dark-background;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
    }
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
    .navbar {
        background-color: $darkest-background;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: flex-end;
        p {
            display: none;
        }
        .fa-calendar {
            color: $white-background;
            border: 2px solid #3D3D3D;
            border-radius: 90%;
            padding: 10px;
            //margin-left: 100px;
        }
        .fa-magnifying-glass {
            color: $white-background;
            border: 2px none #3D3D3D;
            border-radius: 90%;
            padding: 10px;
            //margin-left: 100px;
        }
        .navbar-buttons {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: flex-start;
            align-content: flex-end;
        }
    }
    p, a, pre {
        font-size: $p-font-size-value;
    }
    h1 {
        font-size: 32px;
        padding-top: 75px;
        text-align: center;
        font-weight: bold;
        span {
            color: red;
        }
        p {
            display: block;
            text-align: center;
            margin: 0 auto;
            margin-top: 15px;
            padding-bottom: 60px;
            span {
                color: white;
            }  
        }
    }
    .directory-buttons {
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content:center;
        align-items: center;
        align-content: flex-start;
        font-size: $p-font-size-value;
        color: #717171;
        a {
        font-size: $p-font-size-value;
        color: $white-background;
        text-decoration: none;
        }
    }
}