header {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_div-navbar {
    display: flex;
    background-color: rgba(28, 29, 27, 0.3);
    justify-content: space-between;

    i {
        color: white;
    }
}

.header_i-user {
    display: none;
}

.header_img {
    display: inline;
    width: 40%;
}

.header_nav {
    display: inline;

    li {
        display: inline;
    }
}

.header_p {
    display: inline;
}

.header_h1 {
    padding-top: 75px;
    text-align: center;
    font-weight: bold;
      
       
    span {
        color: red;
    }
}

.header_p {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    padding-bottom: 60px;

    span {
        color: white;
    }
        
}

header { 
    .fa-calendar {
        border: 2px solid #3D3D3D;
        border-radius: 90%;
        padding: 10px;
        margin-left: 100px;
    }
}
    
@media screen and (min-width: 413px) {
    .header_p {
        padding-bottom: 100px;
    }
}

@media only screen and (min-width: 769px) {
    .header_img {
        width: 25%;
    }

    .header_div-navbar {
        p {
            line-height: 60px;
            vertical-align: center;
        }
        .first-div {
            display: flex;
            flex-direction: row;
            vertical-align: center;
        }
    }
    .header_nav {
        li {
        font-weight: bold;
        margin-left: 15px;
        line-height: 60px;
        vertical-align: center;
        }
    }

    .last_div {
        display: flex;
        flex-direction: row;
    }

    .header_i-calendar {
        display: none;
    }

    .header_i-user {
        display: inline;
    }
    
    .header_button {
        display: block;
    border-radius: 25px;
    background-color: $darkest-background;
    border: 2px solid #3D3D3D;
    color: white;
    font-weight: bold;
    margin: 10px 0 10px 10px;
    padding: 15px 35px;
    }
}
